html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: left;
  font-family: Arial;
  transition: all 0.5s;
}

input{
  height: 50px;
}

.inline{
  display: inline;
}

.logo{
  width: 50px;
  height: 50px;
  display: inline;
  float: right;
}

.wht{
  cursor: pointer;
  margin: 0% 4%;
  display: inline-block;
  border-right: 2px solid darkgray;
  padding-right: 1%;
}

img{
  background-image: url('https://thumbs.dreamstime.com/b/transparent-pattern-background-simulation-alpha-channel-png-seamless-gray-white-squares-vector-design-grid-162521286.jpg');
  background-size: 250px;
  background-repeat: repeat;
  float: center;
  max-width: 25%;
  height: auto;
}