<html>
  <head>
    <title>Nina - PICS</title>
    <link href="/static/pics.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <img src="/static/nina.jpeg" class="logo">
    <h1 class="inline">Results for {{ query }}:</h1>
    <hr>
    <div class="diffdiv">
      <h3 class="wht" onclick="location = '/search/' +  location.search">Sites</h3>
      <h3 class="wht" onclick="location = '/search/images/' + location.search">Pictures</h3>
      <h3 class="wht" onclick="alert('Not made yet :) ')">News</h3>
    </div>
    <hr>
 {% if error %}
    <details>
      <summary>No result was found for {{ error }}.</summary>
      <div>
        <code>
        {{ errorstr|safe }}
        </code>
    </div>
    </details>
    {% endif %}
    {{ content|safe }}
    <p>Generated in {{ time }}ms</p>
    <script src="/static/imgscript.js"></script>
  </body>
</html>