<html>
  <head>
    <title>Nina Search</title>
    <meta property="og:title" content="Nina Search">
    <meta property="og:description" content="You can search sites with this, and you can add sites to the site list too.">
    <meta property="og:site_name" content="Nina Search!">
    <meta name="keywords" content="Nina,Shihtzu,Shih,Tzu,Search,Query,Python">
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <img src="/static/nina.jpeg" class="logo">
    <form action="/search/" method="get">
      <input type="text" name="search" placeholder="Type here!">
      <button type="submit"><img src="/static/play.png"></button>
    </form>
    <a href='/add'>Wanna add a site instead?</a>
    <p>
    <h1>How does it works?</h1>
    First, you add a site,then you give a tag to<br> that site.<br>
    When you search, you search for sites with that<br> tag. Pretty simple.
    <h1>Who is Nina?</h1>
    Its my dog, she was born in 2017, but she was<br> adopted by me between 2019~2020 I GUESS.<br>
    <img src="/static/nina" width="350" height="350"><br>
    <a href="/static/change.html">changelog</a>
    </p>
  </body>
</html>